@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');

:root {
  --button-color: #621055;
  --button-hover-shadow: inset 0 0 0 2px #621055;
  --button-hover-color: #B52B65;
  --main-font: 'Raleway',sans-serif;
  --button-active-color: #621055;
  --button-focus-color: #B52B65;
}

* {
  margin: 0;
}

.nav {
  background-color: var(--nav-bg-color);
  width: 100%;
}

.nav-list {
  list-style-type: none;
  display: inline-block;
}

.button {
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0.8rem;
  margin: 0;
  max-width: 100%;
  color: var(--button-color);
  
  font-size: 1.1875rem;
  font-family: var(--main-font);
  text-align: center;
  line-height: 2rem;
  text-decoration: none;
  
  transform:translateY();
  will-change: transform;
  transition: 0.2s 0.1s ease;
}

.button_type_desctop {
  margin: 1.25rem;

}

.button:hover {
  border-radius: 50px;
  box-shadow:  var(--button-hover-shadow);
  color: var(--button-hover-color);
  transform: translateY(-0.1em);
}

.button:active {
  border-radius: 50px;
  box-shadow: none;
  color: var(--button-active-color);
  transform: translateY(0);  
}
