table {
  border-collapse: collapse;
  border: 1px white;
}

td {
  border-bottom: 1px solid #ced0d1;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #ddebf8;
}

td:nth-child(2n+3) {
  background-color: #f2f2dd;
}


